*
{
  padding: 0%;
  margin: 0%;
  font-family: 'poppins', sans-serif;
}

.headercontainer
{
  display: flex;
  flex-direction: row;
  box-shadow: 10px;
  background-color: whitesmoke;
  box-shadow: -2px 6px 9px -1px rgba(0,0,0,0.45);
  position: relative;
}

.headercontainer img
{
  width: 34px;
  padding: 20px;
}
.headercontainer h3
{
  padding-top: 30px;
  margin-left: 0px;
  color: rgb(239, 93, 122);
}

.maincontainer
{
  display: flex;
  flex-direction: column;
  
}

.maincontainer .image
{
 
 background: url('./images/head.png') center ;
 background-repeat: no-repeat;
 height: 400px;
 width: 100%;
 background-size: 100% 100% ;
}
.maincontainer h1
{
  padding: 20px;
  letter-spacing: 5px;
}

.maincontainer p
{
  padding-left: 25px;
  font-size: 20px;
  color: rgb(70, 65, 65);
}

.cardcontainer
{
  display: flex;
  flex-direction: column;
  padding: 20px;
 
  
}

.card-img
{
  width: 300px;
  border-radius: 12px;
  height: 350px;
}

.infocard
{
  display: flex;
  flex-direction: row;
}

.infocard img
{
  width: 15px;
  padding: 5px;
  
}

.infocard p
{
  padding:5px ;
  color: gray;
}

.cardinfo 
{
 padding: 10px;
}

.essai
{
  display: flex;
  flex-direction: row;
}

.image 
{
  position: relative;
}
.image p
{
  position: absolute;
  top: 0;
  left: 0;
  padding:10px ;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

